.card {
  height: 170px;
  width: auto;
  display: flex;
  padding: 8px;
  margin: 8px;
  background-color: #636060;
}

.thumbnail {
  height: 170px;
  width: 145px;
  align-self: center;
  object-fit: cover;
}

.header {
  font-size: 16pt;
  font-weight: bold;
  color: #c7bdbd;
}

.minitext {
  font-size: 8pt;
  color: rgb(63, 60, 60);
}

.subheader {
  font-size: 12pt;
  color: #c7bdbd;
}

.info {
  margin: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.flex {
  display: flex;
}

.pv-1 {
  padding: 1px 0;
}

.hover-pointer:hover {
  cursor: pointer;
}

.horizontal li {
  display: inline;
}

.horizontal li::before {
  content: " - ";
}

.horizontal li:first-child::before {
  content: "";
}

.horizontal {
  padding-left: 0%;
}
